@import "bulma/sass/utilities/functions.sass";
@import "bulma/sass/utilities/initial-variables.sass";
@import "variables.scss";
@import "bulma/sass/utilities/derived-variables.sass";

html {
    min-height: 100%;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.navbar {
    max-height: 3.25rem;
    $logo-width: 100px;

    &-brand {
        .title {
            padding-left: $logo-width + 10px;
            transition: all $speed $easing;

            &:hover {
                color: $red;
            }
        }

        #logo {
            position: absolute;
            top: 4px; // nicely aligns E Capital w/the navbar baseline
            width: $logo-width;
            max-width: unset;
            max-height: unset;
        }
    }

    &-end {
        a.navbar-item {
            position: relative;
            z-index: 2; // lift the element for the underline

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 0;
                bottom: 0;
                left: 0;
                background-color: $red;
                visibility: hidden;
                transition: all $speed $easing;
                z-index: -1; // hide behind the text
            }

            &:hover {
                color: $red;
                background-color: unset;

                &::before {
                    visibility: visible;
                    height: 0.5rem;
                }
            }
        }
    }

    & + section.section {
        padding-top: calc(#{$size-1} + #{$logo-width / 2});
        max-width: $tablet;
        margin: 0 auto;
    }
}

.hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/banner.png') no-repeat 50%;

    .title,
    .subtitle {
        color: white;
        text-shadow: 0 1px 1px black;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 2.25rem;
    }
}

.event-block {
    width: 50%;
    margin: -20% auto 0;
    padding: 1rem;
    background-color: white;
    border-radius: 6px;
    border: hsl(0, 0%, 86%);
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);

    .title a {
        color: unset;
        transition: all $speed $easing;

        &:hover {
            color: $link;
        }
    }

    .read-more {
        width: 100%;
        text-align: right;
        margin-bottom: 1rem;

        a {
            &::after {
                content: '»';
                color: $link;
            }

            &:hover::after {
                color: $link-hover;
            }
        }
    }

    .post-list + .post-list {
        margin-top: 1.25rem;
    }

    .event-footer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

article {
    height: 100%;
    display: flex;
    flex-direction: column;

    header + .content {
        margin: $size-4 0;
    }

    .title a {
        transition: all $speed $easing;
    }

    h2.subtitle {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
    }
}
