## -*- coding: utf-8 -*-
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>

<%def name="html_headstart()">
<!DOCTYPE html>
<html \
    prefix='\
        og: http://ogp.me/ns# article: http://ogp.me/ns/article# \
        %if comment_system == 'facebook':
            fb: http://ogp.me/ns/fb# \
        %endif
    ' \
    vocab="http://ogp.me/ns" \
% if is_rtl:
    dir="rtl" \
% endif
\
lang="${lang}">
<head>
    <meta charset="utf-8">
    %if description:
        <meta name="description" content="${description|h}">
    %endif
    <meta name="viewport" content="width=device-width">
    %if title == blog_title:
        <title>Welcome to ${blog_title|h}</title>
    %else:
        <title>${title|h} | ${blog_title|h}</title>
    %endif

    ${html_stylesheets()}
    <meta name="theme-color" content="${theme_color}">
    % if meta_generator_tag:
        <meta name="generator" content="Nikola (getnikola.com)">
    % endif
    ${feeds_translations.head(classification=None, kind='index', other=False)}
    <link rel="canonical" href="${abs_link(permalink)}">

    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif

    % if comment_system == 'facebook':
        <meta property="fb:app_id" content="${comment_system_id}">
    % endif

    %if prevlink:
        <link rel="prev" href="${prevlink}" type="text/html">
    %endif
    %if nextlink:
        <link rel="next" href="${nextlink}" type="text/html">
    %endif

    <meta name="viewport" content="width=device-width, initial-scale=1">

    ${extra_head_data}
</%def>

<%def name="late_load_js()">
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
    </script>
    ${social_buttons_code}
</%def>

<%def name="html_stylesheets()">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    %if use_bundles:
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link href="/assets/css/bulma.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/pydistrict.css" rel="stylesheet" type="text/css">
    %else:
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
    %endif
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Patua+One&display=swap" rel="stylesheet">
</%def>

### This function is deprecated; use feed_helper directly.
<%def name="html_feedlinks()">
    ${feeds_translations.head(classification=None, kind='index', other=False)}
</%def>

<%def name="html_translations()">
    <ul class="translations">
    %for langname in sorted(translations):
        %if langname != lang:
            <li><a href="${_link("root", None, langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></li>
        %endif
    %endfor
    </ul>
</%def>
